<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>GP-UTP</title>
	<meta charset='utf-8'>
  </head>
  <body>
    <head></head>
  	<nav>
  		<a href="/">Inicio</a>
  		<a href="/parciales">parciales</a>
  		<a href="/Materias">Materia</a>
  		<a href="/Cuenta">Mi Cuenta</a>
  	</nav>
   {{asd}} 
    <h1>ultimos parciales</h1>
  {% for elemento in lparcial %}
    {% for elemento2 in lmateria %}
      {% for elemento3 in lprofesor %}
         {% if elemento.ID_materia == elemento2 %}
          {% if elemento.ID_profesor == elemento3 %}
	       <ul>
	         <li><strong>N# {{elemento.ID_parcial}}</strong></li>
	         <li>{{elemento2.nombre}}</li>
	       
           <li>{{elemento3.nombre}} {{elemento3.apellido}}</li>
	       </ul>
          {% endif %}
         {% endif %}
      {% endfor %}
    {% endfor %}
	{% endfor %}
  </body>
</html>